<% if @game.turn_player_one %>
  <h2><%= @game.player_two.name %> attacks <%= @game.player_one.name %></h2>
<% else %>
  <h2><%= @game.player_one.name %> attacks <%= @game.player_two.name %></h2>
<% end %>

<p><a href='/play'>OK</a></p>