<html>
  <head>
    <title>Game Over!</title>
  </head>
  <body>
    <p>
      <%= @game.defender.name %> has died!
    </p>
    <p>
      <%= @game.attacker.name %> has won!
    </p>
    <p> Game Over!</p>
  </body>
</html>

<%# add in return to home button %>